[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
pillow-heif = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]
pyright = "*"
pytest = "*"
black = "*"
isort = "*"
ruff = "*"
hatch = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
